//
// Web fonts
// --------------------------------------------------
/*
@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon/icomoon.eot?-5wgm69');
	src:url('../../fonts/icomoon/icomoon.eot?#iefix-5wgm69') format('embedded-opentype'),
		url('../../fonts/icomoon/icomoon.ttf?-5wgm69') format('truetype'),
		url('../../fonts/icomoon/icomoon.woff?-5wgm69') format('woff'),
		url('../../fonts/icomoon/icomoon.svg?-5wgm69#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/