//
// Mixins
// --------------------------------------------------

// Font sizing using REM
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin letter-spacing($spacing) {
	$ls:($spacing/1000);
	letter-spacing: $ls * 1em;
}

@mixin rotateSkills($degrees) {
  -webkit-transform: rotateX(-100deg) rotateY(40deg) rotateZ($degrees);
      -ms-transform: rotateX(-100deg) rotateY(40deg) rotateZ($degrees); // IE9 only
       -o-transform: rotateX(-100deg) rotateY(40deg) rotateZ($degrees);
          transform: rotateX(-100deg) rotateY(40deg) rotateZ($degrees);
}