//
// Sections
// --------------------------------------------------

body {
	background-color: $background-primary-variant;
}

main {
	background: url(../images/bg.png);
	background-attachment: fixed;
}