//
// Sections
// --------------------------------------------------

body {
	background-color: $background-primary-variant;
}

main {
	background: url(../images/bg.png);
	background-attachment: fixed;
	overflow: hidden;
}

.hero {
	color: $body-bg;
	
	@include opacity(0);
    @include transition(all 0.5s);
    @include transition-delay(1.8s);

    .loaded & {
		@include opacity(1);
	}
}