//
// Structure
// --------------------------------------------------

html,
body {
  background-color: $background-primary;
}

.col-fifth {
  width: 20%;
}

.stage {
  margin: 40px 0;
  padding-top: 100%;

  .stage-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.hero,
.spacer {
  height: 100vh;

  &.dark {
    background-color: #000;
    position: relative;
    z-index: 9;
  }

  &.half {
    height: 50vh;
  }

  &.threequarters {
    height: 75vh;
  }
}

.fixed {
  position: fixed;
  width: 100%;

  .container {
    //background-color: rgba(0, 73, 148, 0.05);
  }
}

.something {
  background-color: #000;
  position: relative;

  //&:before {
    background-color: #000;
    //content: "";
    //left: 0;
    //padding-top: 200%;
    //position: absolute;
    //top: 0px;
    //transform-origin: left top;
    //width: 200%;

    //@include rotate(45deg);
  //}

  /*.something-inner {
    left: 0px;
    position: fixed;
    top: 5%;
  }*/
}