//
// Structure
// --------------------------------------------------

html,
body {
  background-color: $background-primary;
}

.col-fifth {
  width: 20%;
}

.stage {
  margin: 40px 0;
  padding-top: 100%;

  .stage-inner {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.hero {
  height:100vh;
}