//
// Typography
// --------------------------------------------------

h1 {
	line-height: 0;
	text-align: left;
	text-shadow: 8px 7px 10px rgba(0, 0, 0, 0.5);

	@include font-size(23);
	@include opacity(0.7);
	font-size: 18vmin;

	span {
		display: inline-block;
		min-height: 100px;
		text-align: center;

		&.fontA {
			font-family: $font-family-A;
		}
		&.fontB {
			font-family: $font-family-B;
		}
		&.fontC {
			font-family: $font-family-C;
		}
		&.fontD {
			font-family: $font-family-D;
		}
	}
}

h2 {
	font-size: 4vmin;
	margin: 0px 0 7% 10%;	

	@media (min-width: $screen-md) {
		font-size: 2vmin;		
	}

	.show-stuff & {
		display: none;
	}

	&.second {
		display: none;

		.show-stuff & {
			display: inline-block;
		}
	}

	&.alt {
		color: #00857c;
		display: inline-block;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), #00857c url(../../images/bg.png) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-attachment: fixed;
    font-weight: bold;
    line-height: 1.2;
		margin: 0 0 20px;

		@include font-size(23);
		@include opacity(0.7);
		
		font-size: 11vmin;
	}
}