//
// Typography
// --------------------------------------------------

h1 {
	line-height: 0;
	text-align: center;
	text-shadow: 8px 7px 10px rgba(0, 0, 0, 0.5);

	@include font-size(23);
	@include opacity(0.7);

	span {
		display: inline-block;
		min-height: 100px;
	}
}