//
// Variables
// --------------------------------------------------

//colors
$grey: 					#777;
$grey-variant:			#583B3B;

$text-color: 			$grey;

$background-primary: 	#091621;

$font-family-base: 		'Poiret One', cursive;