//
// Variables
// --------------------------------------------------

//colors
$grey: 					#777;
$grey-variant:			#583B3B;

$text-color: 			$grey;

$background-primary: 			#091621;
$background-primary-variant:	#0D2133;

$font-family-base: 		'Poiret One', cursive;
$font-family-A: 		'Abril Fatface', cursive;
$font-family-B: 		'Amatic SC', cursive;
$font-family-C: 		'Playfair Display', cursive;
$font-family-D: 		'Sarina', cursive;


// colors

$color-1: #fffed8;
$color-2: #fed5a1;
$color-3: #f99533;
$color-4: #f18233;
$color-5: #df6d31;
$color-6: #d65f34;
$color-7: #ab4134;
$color-8: #7B2F25;
$color-9: #5F160C;
$color-10: #380700;
