//
// Header
// --------------------------------------------------

.hero-container1 {
	padding-top: 69%;
	position: absolute;
	width: 100%;

	.hero-fixed & {
		padding-top: 0;
		position: fixed;
	}
}