//
// Spotlight
// --------------------------------------------------


.spotlight {
	height: 150%;
	left: -25%;
	position: fixed;
	top: -25%;
	width: 150%;

	@include gradient-radial(#0D2133 10%, $background-primary 50%);
}