<div class="col-xs-12 hero">
  <div class="vertical-center-wrapper">
    <div class="vertical-center-row">
      <div class="vertical-center-cell">
        <h1 class="col-xs-offset-2" fuck-with-text>james</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 stage">
    <div class="stage-inner">
      
      <div class="hand"></div>

      <rotate ng-repeat="skill in skills" class="icon-container" data-index="{{$index}}" data-count="{{skills.length}}" data-multiply="1">

        <rotate class="icon" ng-class="{ 'selected' : selectedItem == $index }" data-index="{{$index}}" data-count="{{skills.length}}" data-multiply="-1">
          <div class="icon-image">
            <img src="images/{{ skill.image || 'logos/blank.png' }}" />
          </div>
        </rotate>

      </rotate>
    </div>
  </div>
</div>