
<main class="main-main" ng-mousemove="getPosition($event)" ng-keydown="alert('james')" tabindex="0">
  <div class="container">
    <div class="col-xs-12 hero">
      <div class="vertical-center-wrapper">
        <div class="vertical-center-row">
          <div class="vertical-center-cell">
            <h2>imaginary</h2>
            <h1 fuck-with-text style="text-shadow: {{bgX/10}}px {{bgY/10}}px 10px rgba(0, 0, 0, 0.5);">james</h1>
          </div>
        </div>
      </div>
    </div>
    <ship class="ship" style="left:{{ mouseX }}px;">
      <span class="barrel" style="box-shadow: {{bgX/40}}px {{getPositive(bgY)/60}}px 10px rgba(0, 0, 0, 0.5);"></span>
      <span class="turret" style="box-shadow: {{bgX/40}}px {{getPositive(bgY)/60}}px 10px rgba(0, 0, 0, 0.5);"></span>
      <span class="body" style="box-shadow: {{bgX/40}}px {{getPositive(bgY)/60}}px 10px rgba(0, 0, 0, 0.5);"></span>
      <span class="body-main" style="box-shadow: {{bgX/40}}px {{getPositive(bgY)/60}}px 10px rgba(0, 0, 0, 0.5);"></span>
    </ship>
  </div>


  <div class="container">
    <div class="col-md-12 stage">
      <div class="stage-inner">
        <div class="hand"></div>
        <rotate ng-repeat="skill in skills" class="icon-container" data-index="{{$index}}" data-count="{{skills.length}}" data-multiply="1">
          <rotate class="icon" ng-class="{ 'selected' : selectedItem == $index }" data-index="{{$index}}" data-count="{{skills.length}}" data-multiply="-1">
            <div class="icon-image">
              <img src="images/{{ skill.image || 'logos/blank.png' }}" />
            </div>
          </rotate>
        </rotate>
      </div>
    </div>
  </div>


  
</main>